---
---

@import "{{ site.theme }}";

.page-header { color: #fff; text-align: center; background-image: url("../../images/background1.png"); background-size:cover}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{ 
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #000000;}

/* The side navigation menu */
.sidebar {
  margin: 0;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px; 
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #081f42;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


